.list-item {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  background-color: #f8f9fa;
  transition: background-color 0.2s ease-in-out;
  text-align: center;
}

.list-item:hover {
  background-color: #e2e6ea;
}

.loading-indicator {
  padding: 10px;
  text-align: center;
  color: #999;
  font-style: italic;
}

/* For responsive design */
@media (max-width: 768px) {
  .list-item {
    padding: 8px;
    font-size: 14px;
  }
}

.header{
  text-align: center;
}
.parent{
  overflow-x: hidden !important;
}

.shimmer{
  width: 100%;
  height: 50px;
  background-color: #cccccc6e;
  margin-bottom: 10px;
}